.profile-wrapper {
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    justify-content: center;
}

.profile-content {
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 25px;
}

.profile-left-section {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-center-section {
    width: 51%;
}

.profile-right-section {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* @media screen and (max-width: 1279px) {

    .body-content {
        flex-direction: column;
        width: 100%;
        gap: 2.3rem;
    }

    .profile-section {
        align-self: center;
        padding: 0rem 2rem;
    }

    .left-section {
        width: 100%;
    }

    .center-section {
        width: 100%;
    }

    .right-section {
        width: 100%;
    }

    .user-value .bordered-word:nth-child(2) {
        display: none;
    }

    .user-value .bordered-word:nth-child(3) {
        display: none;
    }

    .user-tags-items {
        flex-wrap: wrap;
    }
} */