.edit-profile-button {
    color: #ED6D25;
    font-family: Roboto Flex;
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background: #FDFEFF;
    width: 100%;
    border-radius: 16px;
    border: none;
    padding: 24px;
}
