.edit-profile-button {
    color: #ED6D25;
    font-family: SF Pro Display;
    font-size: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.edit-profile-button__card-outer {
    background: #FDFEFF;
    width: 100%;
    max-width: 300px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    padding: 24px;
}

.edit-profile-button__card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}