.friends-card__card-outer {
    background: #FDFEFF;
    width: 100%;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    padding: 24px;
}

.friends-card__card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.friends-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

.friends-card__header span:first-child {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.friends-card__header span:last-child {
    cursor: pointer;
    color: #ED6D25;
    font-family: SF Pro Display;
    font-size: var(--font-smallest);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.friends-card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

.friends-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0px
}

.friends-thumb-container {
    display: flex;
    width: fit-content;
    height: 80px;
    flex-direction: column;
    align-items: center;
}

.friends-thumb-container span {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: var(--font-smallest);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align-last: center;
}

.friend-thumb {
    height: 56px;
    width: 56px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}