.profile-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 400px;
    gap: 10px;
}

.profile-picture {
    border-radius: 100%;
    border: 3px solid #ED6D25;
    padding: 3px;
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    align-self: center;
    aspect-ratio: 1 / 1;
}

.profile-name {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

.profile-summary {
    color: #4B4B4B;
    font-family: SF Pro Display;
    font-size: var(--font-medium);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 15px 0px;
}