.user-info-wrapper {
    display: flex;
    max-width: 100%;
    flex-shrink: 0;
    background-color: #FDFEFF;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
    color: #4B4B4B;
    font-family: SF Pro Display;
}