.user-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-shrink: 0;
    background-color: #FDFEFF;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
    color: #4B4B4B;
    font-family: SF Pro Display;
}