.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: #fdfeff;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 85vw;
}

.navbar-group__left,
.navbar-group__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    height: 35%;
    flex-shrink: 0;
}

.navbar-text {
    padding: 0;
    font-size: var(--font-medium);
}

.navbar-text:hover {
    cursor: pointer;
}

.navbar__link {
    margin-right: 10px;
    padding: 0;
    font-size: var(--font-medium);
}

.navbar__user-name {
    margin-left: 5px;
    white-space: nowrap;
    font-size: var(--font-small);
}

.navbar__arrow-down {
    border: solid #ED6D25;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    max-height: 15%;
}

.navbar__user-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 2px;
    height: 60%;
    flex-shrink: 0;
}

.navbar__user-profile img {
    height: 100%;
    border-radius: 50%;
}

.navbar__link--active {
    color: #ED6D25;
}

@media screen and (max-width: 1279px) {
    .navbar-text-loggedout {
        display: none;
    }

    .navbar-content-loggedout {
        justify-content: center;
    }

    .navbar__link {
        display: none;
    }

    .navbar__user-name {
        display: none;
    }

    .navbar-content-loggedin {
        justify-content: space-between;
    }
}
